:root{
    --Very-dark-blue: hsl(233, 47%, 7%);/*-(main-background)*/
    --Dark-desaturated-blue: hsl(244, 38%, 16%);/*(card background)*/
    --Soft-violet: hsl(277, 64%, 61%);/*(accent)*/
    /* ### Neutral*/
    --White: hsl(0, 0%, 100%);/*(main heading, stats)*/
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);/*(main paragraph)*/
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);/* (stat headings)*/
}
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family:"lexend deca", sans-serif;
    text-align: center;
}
h3{
    font-size: large;
    font-weight: 900;
}
p{
    font-size:small;
    opacity: 0.9;
    margin: 5px;
    text-align: center;
    color: var(--Slightly-transparent-white);
    line-height: 1.4;
}
.li{
    font-size: xx-small;
}
body{
    font-size: 15px;
    font-family: "inter", "sans-serif";
    background: var(--Very-dark-blue);
    color: var(--White);
    text-align: center;
}
img{
    position: relative;
    max-width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.empty{
    position: absolute;
    width: 300px;
    height: 220.17px;
    z-index: 9;
    opacity: 0.7;
    background:var(--Soft-violet);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
span{
    color: hsl(277, 64%, 61%);
}
section{
    margin: 20px;
}
li{
    margin: 20px;
}
ul{
   position: relative;
    list-style-type: none;
    font-weight: 900;
    bottom: 10px;
}
.container{
    background: var(--Dark-desaturated-blue);
    max-width: 300px;
    margin: 40px auto 10px auto;
    /*min-height: 100vh;*/
    border-radius: 10px;
}
.attribution {
     font-size: 11px; text-align: center; 
    }
.attribution a { 
    color: hsl(228, 45%, 44%);
 }
@media(min-width:768px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     .image, img, .empty{
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
        min-width: 300px;
        height: 300px;
        margin-left: 0;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        height: 300px;
        background: pink;
        width: 650px;
        margin:100px auto 10px auto;
    }
    p{
        text-align: start;
        max-width: 250px;
    }
    ul{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        margin-left:auto 40px auto auto;
        margin-right: 40px;
        width: 250px;
    }
    h1{
        text-decoration: center;
        margin: auto 40px auto auto;
        line-height: 1.2;
        text-align: start;
    }
    section{
       background: var(--Dark-desaturated-blue);
       min-width: 350px;
       line-height: 2;
       margin-right: 0;
       padding: 40px;
       height: 300px;
       border-top-left-radius: 10px;
       border-bottom-left-radius: 10px;
       display: flex;
       text-align: center;
    }
    li{
        margin: auto 20px;
        padding-left: 0;
    }
}